@{
    ViewData["Title"] = "Đăng nhập";
    ViewData["Breadcrumbs"] = "Đăng nhập";
}
<!-- breadcrumbs-area-start -->
@await Html.PartialAsync("_Breadcrumbs")
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script><!-- breadcrumbs-area-end -->
@if (ViewBag.ThongBaoLoi != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Lỗi...',
            text: 'Đăng nhập không thành công!',
            showConfirmButton: false,
            timer: 1500
        });
    </script>
}
<div class="user-login-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login-title text-center mb-30">
                    <h2>Login</h2>
                </div>
            </div>
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
                @if (ViewBag.RegisterSuccess != null)
                {
                    <p style="font-style:italic; color:deeppink">Đăng ký thành công. Bảo mật 2 lớp thành công.</p>
                }
                @if (ViewBag.RegisterSMS != null)
                {
                    <p style="font-style:italic; color:deeppink">Gửi xác thực thất bại.</p>
                }
                @if (ViewBag.ThongBaoLoi != null)
                {
                    <p style="font-style:italic; color:deeppink">Không tồn tại tài khoản này.Vui lòng xem lại Username và Password</p>
                }
                <p style="font-style:italic; color:deeppink">@ViewBag.ResultSMS</p>
                <div class="login-form">
                    <form class="form-signin" asp-controller="User" asp-action="Login" method="post">
                        <div class="single-login">
                            <label>Username <span>*</span></label>
                            <input type="text" name="UserName" required="required" placeholder="Tên đăng nhập" />
                        </div>
                        <div class="single-login">
                            <label>Passwords <span>*</span></label>
                            <input type="password" name="Password" required="required" placeholder="Mật khẩu" />
                        </div>

                        <div class="single-login single-login-2">
                            <button type="submit" class="btn btn-primary btnLogin" style="cursor:pointer;">Login</button>
                        </div>
                        <a href="#">Lost your password?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
