
@model IEnumerable<OrderDetail>
@foreach (var p in Model)
{
    <tr>
        <td>
            <img src="~/Image/@p.Product.ImageCover" style="width:80px;height:80px" class="img-fluid img-thumbnail" alt="...">
        </td>
        <td>@p.Product.ProductName</td>
        <td>@String.Format("{0:0,0 VNĐ}", p.Price)</td>
        <td>@p.Quantity</td>
        <td>@p.Discount%</td>
    </tr>
}