USE [master]
GO
/****** Object:  Database [MyDB]    Script Date: 12/2/2019 8:52:10 PM ******/
CREATE DATABASE [MyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MyDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MyDB_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyDB]
GO
/****** Object:  Table [dbo].[About]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[About](
	[AboutID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Description] [ntext] NULL,
	[AboutImage] [nvarchar](250) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AboutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[Context] [ntext] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [ntext] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](250) NULL,
	[Password] [varchar](250) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Sex] [bit] NULL,
	[Image] [nvarchar](max) NULL,
	[Address] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[PhoneNumber] [varchar](10) NULL,
	[CreatedDate] [datetime] NULL,
	[RandomKey] [varchar](250) NULL,
	[IsActive] [bit] NULL,
	[Role] [int] NULL,
	[AuthyId] [varchar](250) NULL,
	[PhoneNumberConfirmed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](250) NULL,
	[Password] [varchar](250) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[IdentityCardNumber] [varchar](9) NULL,
	[Address] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Sex] [bit] NULL,
	[Phone] [varchar](10) NULL,
	[BirthDate] [datetime] NULL,
	[Role] [int] NULL,
	[ManagerID] [int] NULL,
	[Image] [varchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [varchar](255) NULL,
	[ContextSubject] [nvarchar](255) NULL,
	[ContextMessage] [ntext] NULL,
	[CreatedDate] [datetime] NULL,
	[Phone] [nvarchar](50) NULL,
	[Reply] [bit] NOT NULL,
	[EmployeeID] [int] NULL,
	[ReplyContext] [ntext] NULL,
	[ReplyDate] [datetime] NULL,
	[ReplySubject] [ntext] NULL,
	[ReplyDone] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Price] [int] NULL,
	[Discount] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[PayMethod] [nvarchar](50) NULL DEFAULT (N'Cash'),
	[Phone] [varchar](11) NULL,
	[Email] [varchar](50) NULL,
	[ShipMethod] [nvarchar](50) NULL DEFAULT (N'Bike'),
	[ShipCost] [float] NULL,
	[Comment] [ntext] NULL,
	[OrderStatus] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[Total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderTemp]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderTemp](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ProductName] [varchar](100) NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NULL,
	[Unit] [nvarchar](50) NULL,
	[UrlFriendly] [varchar](250) NULL,
	[Description] [ntext] NULL,
	[Price] [int] NULL,
	[PromotionPrice] [int] NULL,
	[IncludeVAT] [bit] NULL,
	[Quantity] [int] NULL,
	[CategoryID] [int] NULL,
	[PublisherID] [int] NULL,
	[Discount] [int] NULL,
	[ViewCounts] [int] NULL,
	[Status] [bit] NULL DEFAULT ((1)),
	[ImageCover] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[UrlFriendly] [nvarchar](250) NULL,
	[ParentID] [int] NULL,
	[Status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ProductImagesID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ProductImage] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductImagesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[PublisherName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Logo] [nvarchar](150) NULL,
	[Description] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/2/2019 8:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [UserName], [Password], [FirstName], [LastName], [Sex], [Image], [Address], [Email], [PhoneNumber], [CreatedDate], [RandomKey], [IsActive], [Role], [AuthyId], [PhoneNumberConfirmed]) VALUES (43, N'sonlh', N'202cb962ac59075b964b07152d234b70', N'Le', N'Son', 1, NULL, N'Hồ Chí Minh', N'hoang@gmail.com', N'0369006910', CAST(N'2019-11-23 11:00:58.740' AS DateTime), NULL, 1, 5, N'209039477', 1)
INSERT [dbo].[Customer] ([CustomerID], [UserName], [Password], [FirstName], [LastName], [Sex], [Image], [Address], [Email], [PhoneNumber], [CreatedDate], [RandomKey], [IsActive], [Role], [AuthyId], [PhoneNumberConfirmed]) VALUES (44, N'minhlc', N'a672a1f9abc161d1acbdeeab9b91eff7', N'Mickeyfcedwscd', N'Nhan', 1, NULL, N'Pham Duc Son, P 16, Q 8 , TP Ho Chi Minh, 8', N'hoangsonle211@gmail.com', N'0369006910', CAST(N'2019-11-23 13:25:33.210' AS DateTime), NULL, 1, 5, N'209039477', 0)
INSERT [dbo].[Customer] ([CustomerID], [UserName], [Password], [FirstName], [LastName], [Sex], [Image], [Address], [Email], [PhoneNumber], [CreatedDate], [RandomKey], [IsActive], [Role], [AuthyId], [PhoneNumberConfirmed]) VALUES (45, N'minhlc', N'202cb962ac59075b964b07152d234b70', N'Sieu', N'Sơn Đẹp Trai', 0, NULL, N'Pham Duc Son, P 16, Q 8 , TP Ho Chi Minh, 8', N'hoangsonle211@gmail.com', N'0369006910', CAST(N'2019-11-23 13:38:10.897' AS DateTime), NULL, 1, 5, N'209039477', 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [UserName], [Password], [FirstName], [LastName], [IdentityCardNumber], [Address], [Email], [Sex], [Phone], [BirthDate], [Role], [ManagerID], [Image], [IsActive], [CreatedDate]) VALUES (1, N'sonlh', N'b3003135720325e541923035f440ea96', N'Le', N'Hoang Son', N'', N'Hồ Chí Minh', N'hoangson@gmail.com', 1, N'0369006910', NULL, 1, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [Name], [Email], [ContextSubject], [ContextMessage], [CreatedDate], [Phone], [Reply], [EmployeeID], [ReplyContext], [ReplyDate], [ReplySubject], [ReplyDone]) VALUES (1, N'cdscd', N'phubui2702@gmail.com', N'dscsdcdsdcs', N'scdscsd', CAST(N'2019-11-10 23:46:22.653' AS DateTime), N'0369006910', 1, 1, N'test', CAST(N'2019-12-02 19:47:23.067' AS DateTime), N'Test', 1)
INSERT [dbo].[Feedback] ([FeedbackID], [Name], [Email], [ContextSubject], [ContextMessage], [CreatedDate], [Phone], [Reply], [EmployeeID], [ReplyContext], [ReplyDate], [ReplySubject], [ReplyDone]) VALUES (2, N'sonle211', N'hoangsonle211@gmail.com', N'vfvf', N'vfvfdv', CAST(N'2019-11-10 23:48:31.337' AS DateTime), N'0369006910', 0, 1, N'<b>Test nhiều quá nha</b>', CAST(N'2019-12-02 20:25:48.327' AS DateTime), N'Test', 1)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [EmployeeID], [Name], [Address], [PayMethod], [Phone], [Email], [ShipMethod], [ShipCost], [Comment], [OrderStatus], [CreatedDate], [ShipDate], [Total]) VALUES (2, 43, 1, N'Son', NULL, N'Cash', NULL, NULL, N'Bike', NULL, NULL, 1, CAST(N'2018-01-11 00:00:00.000' AS DateTime), NULL, 1000)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [EmployeeID], [Name], [Address], [PayMethod], [Phone], [Email], [ShipMethod], [ShipCost], [Comment], [OrderStatus], [CreatedDate], [ShipDate], [Total]) VALUES (3, 44, 1, N'Minh', NULL, N'Cash', NULL, NULL, N'Bike', NULL, NULL, 1, CAST(N'2018-01-11 00:00:00.000' AS DateTime), NULL, 2000)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [EmployeeID], [Name], [Address], [PayMethod], [Phone], [Email], [ShipMethod], [ShipCost], [Comment], [OrderStatus], [CreatedDate], [ShipDate], [Total]) VALUES (4, 43, 1, N'Thanh', NULL, N'Cash', NULL, NULL, N'Bike', NULL, NULL, 1, CAST(N'2018-03-11 00:00:00.000' AS DateTime), NULL, 3000)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([CategoryID], [Name], [UrlFriendly], [ParentID], [Status]) VALUES (1, N'Văn học', N'van-hoc', NULL, 1)
INSERT [dbo].[ProductCategory] ([CategoryID], [Name], [UrlFriendly], [ParentID], [Status]) VALUES (2, N'Kinh tếc', N'kinh-te', NULL, 1)
INSERT [dbo].[ProductCategory] ([CategoryID], [Name], [UrlFriendly], [ParentID], [Status]) VALUES (3, N'Tâm lý - Kỹ năng sống', N'tam-ly-ky-nang-song', NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([ProductImagesID], [ProductID], [ProductImage]) VALUES (11, 6, N'dan-ba-cu-yeu-di-dung-ngai.jpg')
INSERT [dbo].[ProductImages] ([ProductImagesID], [ProductID], [ProductImage]) VALUES (12, 7, N'se-co-cach-dung-lo.jpg')
INSERT [dbo].[ProductImages] ([ProductImagesID], [ProductID], [ProductImage]) VALUES (13, 8, N'ca-phe-cung-tony.jpg')
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Address], [Phone], [Email], [Logo], [Description]) VALUES (1, N'NXB Văn Học', N'18 Nguyễn Trường Tộ, P.Trúc Bạch, Ba Đình, Hà Nội', N'0369006190', N'tonghopvanhoc@vnn.vn', N'nxb-van-hoc.jpg', N'Ra đời trong những ngày tháng khói lửa của cuộc kháng chiến chống Pháp, trưởng thành qua các thời kỳ đấu tranh giải phóng dân tộc và công cuộc xây dựng Tổ quốc XHCN, gần 70 năm qua, NXB Văn học luôn đồng hành cùng những biến động của đất nước, hoà chung nhịp thở của đời sống nhân dân và phong trào văn nghệ cả nước.')
SET IDENTITY_INSERT [dbo].[Publishers] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Super Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Employee')
SET IDENTITY_INSERT [dbo].[Roles] OFF
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderTemp]  WITH CHECK ADD  CONSTRAINT [fk_Order_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderTemp] CHECK CONSTRAINT [fk_Order_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategory] ([CategoryID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publishers] ([PublisherID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[ProductCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
USE [master]
GO
