@{
    ViewData["Title"] = "Giỏ hàng";
    ViewData["Breadcrumbs"] = "Giỏ hàng";
    ViewData["Description"] = "Nhà Sách Koparion - 240 An Dương Vương Phường 9 Quận 5 Tp HCM Việt Nam - Nhà sách & Thư viện.";
    ViewData["canonical"] = "cart";
    ViewData["Image"] = "http://mybookstore.somee.com/img/logo/logo.png";
    List<CartItem> cart = (List<CartItem>)Model;
}
@using BookStore.ModelViews
@model List<CartItem>

<!-- breadcrumbs-area-start -->
@await Html.PartialAsync("_Breadcrumbs")
<!-- breadcrumbs-area-end -->
<!-- entry-header-area-start -->
<div class="entry-header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="entry-header-title">
                    <h2>Cart</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- entry-header-area-end -->
<div id="productCart">
    @Html.Partial("ProductCart", cart);
</div>