

<div class="row container">
    <div class="col container">
        <div class="form-group">
            <h3 class="control-label">Tên vai trò </h3>
            <input id="roleName" class="form-control" placeholder="Nhập tên vai trò..." />
            <label id="errorName" style="color:red;display:none ">Vui lòng nhập tên vai trò</label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btnSave">Lưu</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
</div>
<script>
    $(".btnSave").click(function () {
        let name = $("#roleName").val();
        if (name.length > 0) {
            $("#errorName").css("display", "none");
            $.ajax({
                url: "/Admin/Roles/Create",
                type: "POST",
                data: {
                    RoleName: name
                },
                success: function (res) {
                    $(".bodyContent").html("");
                    $(".bodyContent").html(res);
                    $("#modalDetail").modal("toggle");

                    Swal.fire({
                        icon: 'success',
                        title: 'Thành công!',
                        text: "Thêm thành công",
                        showConfirmButton: false,
                        timer: 2000
                    });
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Thất bại!',
                        text: "Đã xảy ra lỗi. Xin vui lòng thử lại",
                        showConfirmButton: false,
                        timer: 2000
                    });
                }
            });
        }
        else {
            $("#errorName").css("display", "block");
        }
    })
</script>


