@model IEnumerable<OrderTemp>

@foreach (var item in Model)
{
    <tr id="rows-@item.OrderDetailId">

        <th scope="row">@item.ProductName</th>

        <td> @item.ProductId</td>

        <td> @item.Quantity </td>

        <td><span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="removeThis(@item.OrderDetailId)"></span></td>

    </tr>
}
