@model BookStore.Models.Orders
@{
    ViewData["Title"] = "Order";
    ViewData["Child"] = "Add";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-plus"></i>Add Order</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="table-responsive" style="border:0">
                    <form id="formOrder" asp-action="Create" asp-controller="Order" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <h5>Tên khách hàng</h5>
                                    <input asp-for="Name" id="CusName" class="form-control" />
                                    <label id="errorName" style="color:red;display:none ">Vui lòng nhập tên khách hàng</label>
                                </div>
                                <div class="form-group">
                                    <h5>Email</h5>
                                    <input asp-for="Email" id="CusEmail" class="form-control" />
                                    <label id="errorEmail" style="color:red;display:none">Email không hợp lệ</label>
                                </div>
                                <div class="form-group">
                                    <h5>Số điện thoại</h5>
                                    <input asp-for="Phone" id="CusPhone" class="form-control" />
                                    <label id="errorPhone" style="color:red;display:none">Số điện thoại không hợp lệ</label>
                                </div>
                                <div class="form-group">
                                    <h5>Địa chỉ</h5>
                                    <input asp-for="Address" id="CusAddress" class="form-control" />
                                    <label id="errorAddress" style="color:red;display:none">Vui lòng nhập địa chỉ</label>
                                </div>
                                <div class="form-group">
                                    <h5>Ghi chú</h5>
                                    <textarea asp-for="Comment" class="form-control"></textarea>
                                    <span asp-validation-for="Comment" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Phương thức thanh toán</h5>
                                    <input asp-for="PayMethod" class="form-control" value="DirectPay" readonly />
                                    <span asp-validation-for="PayMethod" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <h5>Ngày giao hàng dự kiến</h5>
                                    <input asp-for="ShipDate" type="date" class="form-control" />
                                    <span asp-validation-for="ShipDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <h5>Phương thức giao hàng</h5>
                                    <select name="ShipMethod" class="form-control">
                                        <option value="Bike">Xe máy</option>
                                        <option value="Xe tải">Xe tải</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h5>Phí Ship</h5>
                                    <input asp-for="ShipCost" class="form-control" value="0" />
                                    <span asp-validation-for="ShipCost" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <h5>Trạng thái đơn hàng</h5>
                                    <select name="OrderStatus" class="form-control">
                                        <option value="0">Chưa thanh toán</option>
                                        <option value="1">Đã thanh toán</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label">Sản phẩm</label>
                                    <select class="form-control" id="ProductId" name="ProductId" asp-items="ViewBag.ProductId"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Số lượng</label>
                                    <input class="form-control" type="number" min="0" id="ProQuantity" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Chức năng</label>
                                    <input type="button" class="form-control btn-success add-detail" value="Thêm" />
                                </div>
                            </div>
                        </div>

                        <div class="row container">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Ảnh</th>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Đơn vị</th>
                                        <th scope="col">Giá bán hiện tại</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Xóa bỏ</th>
                                    </tr>
                                </thead>
                                <tbody class="add-order-detail"></tbody>
                            </table>
                        </div>
                        <input type="hidden" name="ArrAddItemId" value="," />
                        <input type="hidden" name="ArrAddItemQuantity" value="," />
                        <div class="form-group">
                            <input type="button" value="Lập hóa đơn" class="btn btn-primary submitForm" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row container">


</div>


@section Scripts{
    <script>
        const ArrAddItemId = new Array();
        const ArrAddItemQuantity = new Array();
        function RemoveItem(id) {
            let productId = id;
            var index = ArrAddItemId.findIndex(k => k == productId);
            if (index != -1) {
                ArrAddItemId.splice(index, 1);
                ArrAddItemQuantity.splice(index, 1);
            }
            $('#btn-' + id).closest("tr").remove();
        };

        function ChangeQuantity (input, id) {
            let quantity = input.value;
            let productId = id;
            var index = ArrAddItemId.findIndex(k => k == productId);
            if (index != -1) {
                ArrAddItemQuantity[index] = quantity;
            }
        };

        // add order Detai
        $(".add-detail").click(function () {
            let productQuantity = $("#ProQuantity").val();
            if (Number(productQuantity) > 0) {
                let productId = $("#ProductId option:selected").val();
                var index = ArrAddItemId.findIndex(k => k == productId);
                if (index != -1) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Đã có sản phẩm!',
                        text: 'Vui lòng sửa ở chi tiết!',
                        showConfirmButton: false,
                        timer: 1000
                    });
                }
                else {
                    ArrAddItemId.push(productId);
                    ArrAddItemQuantity.push(productQuantity);
                    console.log(ArrAddItemId);
                    console.log(ArrAddItemQuantity);
                    $.ajax({
                        url: "/Admin/Order/AddProductToList",
                        type: "POST",
                        data: {
                            productId: productId,
                            quantity: productQuantity,
                        },
                        success: function (data) {
                            console.log(data);
                            $(".add-order-detail").append(data);
                        }
                    });
                }
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: 'Lỗi!',
                    text: 'Số lượng không hợp lệ!',
                    showConfirmButton: false,
                    timer: 1000
                });
            }
        });
        //Hàm tắt enter= submit cho form
        $('#formOrder').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        function validate() {
            let isValid = true;
            let name = $("#CusName").val();
            let address = $("#CusAddress").val();
            let phone = $("#CusPhone").val();
            //validate name
            if (name.length > 0) {
                $("#errorName").css('display', 'none');
            }
            else {
                $("#errorName").css('display', 'block');
                isValid = false;
            }

            //validate address
            if (address.length > 0) {
                $("#errorAddress").css('display', 'none');
            }
            else {
                $("#errorAddress").css('display', 'block');
                isValid = false;
            }

            //validate phone
            let pattern = /0[3789][0-9]{8}$/;
            if (pattern.test(phone)) {
                $("#errorPhone").css('display', 'none');
            }
            else {
                $("#errorPhone").css('display', 'block');
                isValid = false;

            }
            return isValid;
        }
        function validateEmail() {
            let isValidEmail = true;

            let email = $("#CusEmail").val();
            //validate email
            let patternEmail = /^[a-z][a-z0-9_\.]{3,32}@@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$/gm;
            if (patternEmail.test(email)) {
                $("#errorEmail").css('display', 'none');
            }
            else {
                isValidEmail = false;
                $("#errorEmail").css('display', 'block');
            }
            return isValidEmail;
        }

        $(".submitForm").on("click", function (e) {
            e.preventDefault();
            //form validation
            var emailCus = $("#CusEmail").val();
            if (emailCus.length > 0) {
                if (validateEmail()) {
                    if (validate()) {
                        if (ArrAddItemId.length > 0) {
                            var str = $("[name='ArrAddItemId']").val().toString();
                            $("[name='ArrAddItemId']").val(str + ArrAddItemId.toString() + ",");
                        }
                        if (ArrAddItemQuantity.length > 0) {
                            var str = $("[name='ArrAddItemQuantity']").val().toString();
                            $("[name='ArrAddItemQuantity']").val(str + ArrAddItemQuantity.toString() + ",");
                        }
                        $("#formOrder").submit();
                    }
                };
            }
            else {
                $("#errorEmail").css('display', 'none');
                if (validate()) {
                    if (ArrAddItemId.length > 0) {
                        var str = $("[name='ArrAddItemId']").val().toString();
                        $("[name='ArrAddItemId']").val(str + ArrAddItemId.toString() + ",");
                    }
                    if (ArrAddItemQuantity.length > 0) {
                        var str = $("[name='ArrAddItemQuantity']").val().toString();
                        $("[name='ArrAddItemQuantity']").val(str + ArrAddItemQuantity.toString() + ",");
                    }
                    $("#formOrder").submit();
                }
            }
        });
    </script>
}
