<header>
    <!-- header-top-area-start -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="account-area text-right">
                        <ul>
                            @{
                                var url = Context.Request.Path;
                                if (User.Identity.IsAuthenticated/* && User.IsInRole("Customer")*/)
                                {
                                    <li><a asp-action="Profile" asp-controller="User" id="fullName">@User.Identity.Name</a></li>
                                    <li><a asp-action="Logout" asp-controller="User" asp-route-ReturnUrl="@url">Đăng xuất</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="Register" asp-controller="User">Đăng ký</a></li>
                                    <li><a asp-action="Login" asp-controller="User">Đăng nhập</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-top-area-end -->
    <!-- header-mid-area-start -->
    <div class="header-mid-area ptb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="header-search">
                        <form action="#">
                            <input type="text" placeholder="Search entire store here..." />
                            <a href="#"><i class="fa fa-search"></i></a>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="logo-area text-center logo-xs-mrg">
                        <a href="/"><img src="~/img/logo/logo.png" alt="logo" /></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="cartList">
                    @await Component.InvokeAsync("Cart")
                </div>
            </div>
        </div>
    </div>
    <!-- header-mid-area-end -->
    <!-- main-menu-area-start -->
    @await Component.InvokeAsync("Menu")
    <!-- main-menu-area-end -->
    <!-- mobile-menu-area-start -->
    <!-- mobile-menu-area-end -->
</header>
