@model Publishers
<div>
    <div class="container-fluid">
        <div class="row" style="margin-top:20px">
            <form asp-action="Create" id="createForm" asp-controller="Publisher" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-4">
                    <div class="row" style="margin-left:20px">
                        <img src="https://icon-library.net/images/no-image-available-icon/no-image-available-icon-6.jpg" width="180" height="180" id="preview">
                    </div>
                    <div class="row" style="margin-left:20px">
                        <div id="msg"></div>
                        <input type="file" id="myFile" name="file" class="file" accept="image/*">
                        <div class="input-group my-3">
                            <input type="text" class="form-control" disabled placeholder="Upload File" id="file" />
                            <br />
                            <div style="text-align:center;margin-top:20px">
                                <button type="button" class="browse btn btn-primary">Chọn hình...</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tên nhà xuất bản:</label>
                        <div class="col-sm-8">
                            <input asp-for="PublisherName" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Địa chỉ: </label>
                        <div class="col-sm-8">
                            <input asp-for="Address" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Số điện thoại: </label>
                        <div class="col-sm-8">
                            <input asp-for="Phone" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email: </label>
                        <div class="col-sm-8">
                            <input asp-for="Email" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Mô tả: </label>
                        <div class="col-sm-8">
                            <textarea asp-for="Description" class="form-control" style="resize:none"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button onclick="form_submit()" class="btn btn-primary">Cập nhật</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
</div>
<script>
    function form_submit() {
        if (document.getElementById("myFile").files.length == 0) {
            Swal.fire({
                icon: 'error',
                title: 'Lỗi',
                text: 'Vui lòng chọn logo!',
                showConfirmButton: false,
                timer: 2000
            });
        }
        else {
            document.getElementById("createForm").submit();
        }
    }
    $(document).on("click", ".browse", function () {
        var file = $(this).parents().find(".file");
        file.trigger("click");
    });
    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        $("#file").val(fileName);

        var reader = new FileReader();
        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("preview").src = e.target.result;
        };
        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    });

    //$(".btnSubmit").click(function () {
    //    var formData = new FormData();
    //    var input = document.getElementById("#myFile");
    //    var files = input.files;
    //    formData.append('img', files[0]);
    //    $.ajax({
    //        url: "/Admin/Publisher/UploadFile",
    //        type: "POST",
    //        data: formData,
    //        success: function (data) {
    //            alert(data);
    //        },
    //        error: function (e) {
    //            alert(e);
    //        }
    //    });
    //});
</script>
